@import "tailwindcss";

*:focus{
    outline: none;
}

 
 

:root {
  font-family: "Poppins", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
 

 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 

.orange-shadow {
 box-shadow: 0 2px 2px 1px rgba(246,150,54,1)
}

.blue-shadow {
  box-shadow: 0 2px 2px 1px #530DF6;
 }
 


.bg-white {
  background-color:  white;
}


/* custom schrolls */

.custom-scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
}
.custom-scroll-x::-webkit-scrollbar{
  height: 8px;
}


.custom-scroll-x::-webkit-scrollbar-thumb {
  background-color:#D9D9D9;
}

.custom-scroll-x::-webkit-scrollbar-track{
  background: white;
}




.custom-scrollbar{
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar{
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color:#D9D9D9;
}


.custom-scrollbar::-webkit-scrollbar-track{
  background: white;
  margin: 10px;
}



.blue-bg {
  background-color: #530DF6;
}

.gray-bg{
  background-color:#D9D9D9;
}

.main-text{
  font-weight: 600;
  font-size: 20px;
}

.second-text{
  font-weight: 400;
  font-size: 18px;
}

body{
  overflow: hidden;
  user-select: none;
}





.heading-config {
  border: none;
  padding:1px;
  outline:none;
  font-size: 20px;
  font-weight:600;
  color:#757575;
}

.heading-config:focus {
border: none;
outline: none;
font-size: 25px;
}



.heading-config-mini {
  border: none;
  padding:1px;
  outline:none;
  font-size: 15px;
  font-weight:400;
  color: #757575;


}

.heading-config-mini:focus {
border: none;
outline: none;
font-size: 20px;
border-bottom: 2px solid #757575;
}